.html-css {
  display: inline-flex;
  /* align-items: center; */
  gap: 56px;
  margin: 56px 0;
}

.html-css__image {
  /* width: 140px; */
  animation-name: float;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.html-css__subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: 100;
  /* text-align: left; */
}

._html .html-css__subtitle em {
  color: #F16528;
}

._css .html-css__subtitle em {
  color: #2965F1;
}

.html-css__text {
  /* margin: 1.2em 0; */
  margin-top: 1.6em;
  font-size: var(--font-size-text);
  color: var(--color-text);
}

.html-css__text strong {
  font-weight: bold;
}

.html-css__list {
  display: flex;
}

.html-css__list dd::before {
  display: inline-block;
  content: '';
  width: 12px;
  height: 6px;
  border-bottom: 4px solid var(--color-sub);
  border-left: 4px solid var(--color-sub);
  transform: rotate(-45deg);
  margin-right: 0.4em;
  vertical-align: 0.2em;
}

.html-css__list dd {
  font-size: var(--font-size-larger);
  color: var(--color-lighter);
  margin-right: 0.8em;
}

@media (max-width: 768px) {
  #html {
    border-bottom: 4px solid var(--color-light-bg);
  }

  .html-css {
    flex-direction: column;
    /* margin: 56px 0; */
  }

  .html-css__image {
    width: 50%;
  }
  
  .html-css__card {
    text-align: center;
  }

  .html-css__subtitle div {
    display: inline-block;
    text-align: left;
  }
}

@media (min-width: 769px) {
  #html {
    border-right: 4px solid var(--color-light-bg);    
  }

  .html-css__image {
    width: 144px;
  }

  .html-css__card {
    text-align: left;
  }

  .html-css__contents {
  display: inline-flex;
  align-content: space-between;
}

  .html-css__text {
    text-align: left;
  }

}